<strong>Olá, {{ student }}</strong>

<p>Sua matricula na GymPoint foi aprovada:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Inicio: </strong> {{ start_date }} <br />
  <strong>Fim: </strong> {{ end_date }} <br />
  <strong>Valor: </strong> R$ {{ price }} <br />
</p>

